@model IEnumerable<Flybilletter.Model.DomeneModel.Endring>

<h4>Endringer lagret i database:</h4>
<table class="table">
    <tr>
        <th>Endring</th>
        <th>Tidspunkt</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EndringString)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tidspunkt)
            </td>
            <td>
        </tr>
    }

</table>