@model IEnumerable<Flybilletter.Model.DomeneModel.Admin>

@{
    ViewBag.Title = "Administrator";
}

<h2>Administrator</h2>
<h4>Innlogget side for administrator.</h4>

<a href="#" data-toggle="modal" data-target="#opprett" class="btn btn-primary">Opprett ny administrator</a>
<br />
<div class="modal" id="opprett" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Opprett ny administrator: </h4>
            </div>
            <div class="modal-body">
                @Html.Partial("_LagAdministrator")
            </div>
        </div>
    </div>
</div>
<hr />
<div id="adminer">
    @Html.Partial("_ListAdministrator", (List<Flybilletter.Model.DomeneModel.Admin>)ViewBag.Admin)
</div>
<hr />
<h4>Endringer lagret i database:</h4>
<a href="#endringer" data-toggle="collapse" id="endringerKnapp" class="btn btn-info">Vis endringer</a>
<div id="endringer" class="collapse">
    @Html.Partial("_ListEndringerFraDB", (List<Flybilletter.Model.DomeneModel.Endring>)ViewBag.Endringer)
</div>
<hr />

<h4>Feilmeldinger lagret i fil:</h4>
<a href="#feil" data-toggle="collapse" id="feilmeldingerKnapp" class="btn btn-info">Vis feilmeldinger</a>
<div id="feil" class="collapse">
    @Html.Partial("_ListFeilFraFil", (List<Flybilletter.Model.ViewModel.FeilFraFilViewModel>)ViewBag.FeilFraFil)
</div>

<script>
    $(function () {
        $(".endre").click(function (event) {
            event.preventDefault();

            //Vis input-bokser
            $(this).parents("tr").find(".editModel").toggleClass("hidden");
            //Aktiver lagre-knapp
            $(this).siblings(".lagre").toggleClass("disabled").toggleClass("btn-success").toggleClass("btn-default");

            if ($(this).data("status") === "endre") {
                $(this).text("Avbryt");
                $(this).data("status", "avbryt");
            } else {
                $(this).text("Endre");
                $(this).data("status", "endre");
            }
        });

        $("#endringerKnapp").click(function () {
            $("#endringerKnapp").text(function (_,txt) {
               return (txt == "Vis endringer") ? "Lukk endringer" : "Vis endringer";
            })
        });

        $("#feilmeldingerKnapp").click(function () {
            $("#feilmeldingerKnapp").text(function (_, txt) {
                return (txt == "Vis feilmeldinger") ? "Lukk feilmeldinger" : "Vis feilmeldinger";
            })
        });

        $(".lagre").click(function (event) {
            event.preventDefault();

            var formData = $(this).parents("tr").find(".editModel").serialize();

            $.ajax({
                url: "/Admin/EndreAdmin",
                method: "POST",
                data: formData
            }).done(function (response) {
                if (response === "true") {
                    location.reload();
                } else {
                    alert(response);
                }
            });
        });
    });
</script>