@model IEnumerable<Model.DomeneModel.Admin>

@{
    ViewBag.Title = "Administrator";
}

<h2>Administrator</h2>
<!--TODO: Oppdater passord på admin.-->
<div><!--Partial View for å vise endringer i db-->
    @Html.Partial("_ListEndringerFraDB", (List<Flybilletter.Model.DomeneModel.Endring>)ViewBag.Endringer)
</div>
<br />
<div><!--Partial View for å vise feil fra fil-->
    @Html.Partial("_ListFeilFraFil", (List<Flybilletter.Model.ViewModel.FeilFraFilViewModel>)ViewBag.FeilFraFil)
</div>
