@model Flybilletter.Model.DomeneModel.Flyplass

@{
    ViewBag.Title = "Rediger flyplass";
}

<h2>Rediger flyplass</h2>

@using (Html.BeginForm("EndreFlygning"))
{
    @Html.AntiForgeryToken()
    @Html.EditorFor(model => model)
}

<div>
    @Html.ActionLink("Avbryt", "Flyplasser", new { }, new { @class = "btn btn-primary" })
</div>
