@model Flybilletter.Model.DomeneModel.Flyplass

@{
    ViewBag.Title = "Lag ny flyplass";
}

<h2>Lag ny flyplass</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    @Html.EditorFor(model => model)
}

<div>
    @Html.ActionLink("Avbryt", "Flyplasser", new { }, new { @class = "btn btn-primary" })
</div>
