@model Flybilletter.Model.DomeneModel.Kunde


<h2>Lag Kunde</h2>
@using (Html.BeginForm("LagreKunde", "Admin", FormMethod.Post, new { @class = "form-inline lagKunde", autocomplete = "on" }))
{
    @Html.EditorFor(model => model, new { htmlAttributes = new { @class = "form-control" } })
    <div>
        <button type="submit" class="btn btn-success">Lagre Kunde</button>
    </div>
}