@model Flybilletter.Model.DomeneModel.Kunde
 
@{
     ViewBag.Title = "Lag ny kunde";
}

<h2>Lag ny kunde</h2>
@using (Html.BeginForm("LagKunde", "Admin", FormMethod.Post, new { @class = "lagKunde", autocomplete = "false" }))
{
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Passasjer</h3>
                </div>

                <div class="panel-body">
                    @Html.EditorFor(model => model, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model, "", new { @class = "text-danger" })
                </div>
            </div>
            <button type="submit" class="btn btn-success">Lagre</button>
        </div>
    </div>
    <br/>
    <div>
        @Html.ActionLink("Avbryt", "Kunder", new { },  new { @class = "btn btn-primary" })
    </div>

}