
@{
    ViewBag.Title = "BetalingFeilet";
}

<h2>Betaling feilet</h2>

<p>Validering feilet. @ViewBag.Feilmelding</p>

<button class="btn btn-primary" onclick="window.history.go(-1); return false;" >Tilbake til utfylling</button>
<button class="btn btn-default">Tilbake til søk</button>


